---
title: Acme shop with LowCodeUnit, 11ty, Forestry, and Jamcart 
description: Simple demo of an e-commerce site.
layout: main.liquid
---

<h1 id="category-title">Products</h1>

<ul id="products">
  {% for product in collections.product %}
    <li>
      <a href="{{ product.url | trimUrl }}">
        <img alt="" src="{{ product.data.image | trimUrl }}" />

        {{ product.data.name }}
      </a>

      <p class="price">{{ product.data.price | money }}</p>
    </li>
  {% endfor %}
</ul>